<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplus.reservation.mapper.RefundMapper">
    <insert id="insert" parameterType="com.triplus.reservation.dto.RefundDto">
        insert into REFUND (RTID, TID, MSG, REFUNDDATE, REFUNDTIME)
        values (#{cTid}, #{tid}, #{msg}, #{cancelDate}, #{cancelTime})
    </insert>
</mapper>