<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplus.reservation.mapper.SalesMapper">

    <select id="getBestItems" resultType="com.triplus.reservation.dto.BestItemsDto">
        <![CDATA[
        SELECT *
        FROM (SELECT TIMG, TITLE, TOTSALES
              FROM (SELECT SUM(TOTPRICE) TOTSALES, BRDNUM
                    FROM PAYMENT
                             LEFT JOIN REFUND USING (TID)
                             INNER JOIN RESERVATION USING (OID)
                    WHERE RTID IS NULL
                      AND RESSTA = '확정'
                    GROUP BY BRDNUM)
                       INNER JOIN BOARD USING (BRDNUM)
              ORDER BY TOTSALES DESC)
        WHERE ROWNUM <= #{rank}
        ]]>
    </select>

    <select id="getTotSalesPerMonth" resultType="com.triplus.reservation.dto.TotSalesPerMonthDto">
        SELECT SUM(TOTPRICE) TOTSALES, APPLMONTH
        FROM (SELECT TOTPRICE, SUBSTR(APPLDATE, 3, 2) || '-' || SUBSTR(APPLDATE, 5, 2) APPLMONTH
              FROM PAYMENT
                       LEFT JOIN REFUND USING (TID)
                       INNER JOIN RESERVATION USING (OID)
              WHERE RTID IS NULL
                AND RESSTA = '확정')
        GROUP BY APPLMONTH
        ORDER BY APPLMONTH
    </select>

</mapper>