<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.triplus.board.mapper.BoardMapper">
    <select id="select" resultType="com.triplus.board.dto.BoardDto">
        select *
        from board
        where brdnum = #{brdNum}
    </select>

    <select id="selectAll" resultType="com.triplus.board.dto.BoardDto">
        select *
        from board
    </select>

    <select id="getPageList" resultType="com.triplus.board.dto.QnaDto">
        select brdnum, writerId, title, wDate, hit, published
        from board
        order by brdnum desc
    </select>

    <insert id="insert" parameterType="com.triplus.board.dto.BoardDto">
        insert into board (brdnum, writerid, title, contents, timg, wdate, hit, published)
        values (board_seq.nextval, #{writerId}, #{title}, #{contents}, #{tImg}, sysdate, #{hit}, #{published})
    </insert>

    <delete id="delete" parameterType="int">
        delete
        from board
        where brdnum = ${brdNum}
    </delete>

    <update id="update" parameterType="com.triplus.board.dto.BoardDto">
        update board
        set writerid  = #{writerId},
            title     = #{title},
            contents  = #{contents},
            timg      = #{tImg},
            hit       = #{hit},
            published = #{published}
        where brdnum = #{brdNum}
    </update>

    <!--조회수 기능 추가-->
    <update id="updateHit" parameterType="com.triplus.board.dto.BoardDto">
        update board
        set hit = hit + 1
        where brdnum = #{brdnum}
    </update>

    <insert id="fixedInsert" parameterType="com.triplus.board.dto.BoardDto">
        insert into board
        values (#{brdNum}, #{writerId}, #{title}, #{contents}, #{tImg}, sysdate, #{hit}, #{published})
    </insert>

    <select id="getNextBrdNum" resultType="int">
        select board_seq.nextval
        from dual
    </select>

    <!--공지사항 업데이트-->
    <update id="updateNotice" parameterType="com.triplus.board.dto.BoardDto">
        update board
        set title = #{title,jdbcType=VARCHAR},
            contents = #{contents,jdbcType=VARCHAR}
        where brdNum = #{brdNum}
    </update>

</mapper>