<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplus.board.mapper.PkgComMapper">

    <insert id="insert" parameterType="com.triplus.board.dto.PkgComDto">
        INSERT INTO PKGCOM(PKGCOMNUM, OID, PKGCOMCLASS, PKGCOMNAME, PKGCOMTEL, PKGCOMGENDER)
        VALUES (PKGCOM_SEQ.NEXTVAL, #{oid}, #{pkgComClass}, #{pkgComName}, #{pkgComTel}, #{pkgComGender})
    </insert>

    <select id="selectAllByOid" parameterType="string" resultType="com.triplus.board.dto.PkgComDto">
        SELECT * FROM PKGCOM
        WHERE OID = #{oid}
    </select>

    <select id="getRcrtCnt" parameterType="hashmap" resultType="int">
        SELECT COUNT(*)
        FROM PKGCOM
        WHERE OID IN (SELECT OID
                      FROM RESERVATION
                      WHERE BRDNUM = #{brdNum}
                        AND RESSTA IN (${resSta}))
    </select>

</mapper>