<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplus.board.mapper.PkgImgMapper">

    <insert id="insert" parameterType="com.triplus.board.dto.PkgImgDto">
        INSERT INTO PKGIMG(PKGIMGNUM, BRDNUM, PKGIMG, PKGIMGNAME, PKGIMGSIZE)
        VALUES (PKGIMG_SEQ.NEXTVAL, #{brdNum}, #{pkgImg}, #{pkgImgName}, #{pkgImgSize})
    </insert>

    <delete id="deleteByBrdNum" parameterType="int">
        DELETE FROM PKGIMG
        WHERE BRDNUM = #{brdNum}
    </delete>

    <select id="selectByBrdNum" parameterType="int" resultType="com.triplus.board.dto.PkgImgDto">
        SELECT *
        FROM PKGIMG
        WHERE BRDNUM = #{brdNum}
    </select>

</mapper>