<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.triplus.schedule.mapper.CompanionMapper">
    <insert id="addCompanion" parameterType="com.triplus.schedule.dto.CompanionDto">
        insert into companion
        values (#{skdNum}, #{id})
    </insert>

    <select id="find" parameterType="String" resultType="com.triplus.schedule.dto.CompanionDto">
        select *
        from companion
        where id = #{id}
    </select>
</mapper>